<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>歌词同步</title>
    <link
    rel="stylesheet"
    type="text/css"
    href="{{ url_for('static',filename='css/bootstrap.min.css') }}"
    />
    <link
    rel="stylesheet"
    type="text/css"
    href="{{ url_for('static',filename='css/bootstrap-icons.min.css') }}"
    />
    <script src="{{ url_for('static',filename='js/bootstrap.bundle.js') }}"></script>
    <style>
        body {
            background-size: 60% 100%;
        }

        * {
            margin: 0 auto;
            padding: 0;
        }

        .play {
            color: #01e5ff;
            font-size: 24px;
        }

        .overPlay {
            font-size: inherit;
            color: #c9c9c9;
        }

        #div_lrc {
            position: absolute;
            padding-top: 0px;
            left: 28%;
            top: 300px;
            width: 50%;
            transition: top .5s;
            margin: 0 auto;

        }

        .div_DisLrc {
            overflow: hidden;
            color: #b1abab;
            height: 600px;
            position: relative;
            margin: 0 auto;

        }

        #audio {
            width: 100%;
        }

        .div_audio {
            width: 50%;
            margin: 0 auto;
        }

        .div_but {
            position: absolute;
            font-size: 26px;
            font-weight: 900;
            top: 40%;
            right: 0%;
        }

        .div_but p {
            cursor: pointer;
        }
        .card {
            transition:top 0.3s , display 0.5s;
}

    </style>
</head>



<body>
    <script>
        function showText() {
            $("#CardText").css("display","")
            ChangeCard()
        }
        
        function hideText() {
            $("#CardText").css("display","none")
            ChangeCard()
        }
        </script>
    <nav class="navbar fixed-top bg-body-tertiary">
        <div class="container-fluid">
          <a class="navbar-brand" href="#">Title</a>
        </div>
      </nav>
    <div id="div_1" style="display: none;">
    </div>
    <div class="row">
        <div class="col-5">
            <div id="ShowInfo" class="card" style="width: 18rem;top:auto;" onmouseover="showText()" onmouseout="hideText()">
                <img src="{{ url_for('static',filename='images/'+name+'.jpg')}}" class="card-img-top" alt="...">
                <div id="CardText" class="card-body" style="display:none;">
                    <p class="bi bi-file-earmark-music card-text">{{song_name}}</p>
                    <p class="bi bi-person card-text">{{singer}}</p>
                    <p class="bi bi-disc card-text">{{disc}}</p>
                </div>
            </div>
        </div>
        <!-- 歌词显示界面 -->
        <div class="col-7 div_DisLrc">
            <div id="div_lrc">
                <p id="lrc_row1" data-second="0" data-minute="0"></p>
            </div>
        </div>
    </div>
    <!-- 播放器控件 -->
    <nav class="navbar fixed-bottom bg-body-tertiary">
        <div class="container-fluid">
            <div class="div_audio">
                <audio id="audio" controls="controls" autoplay="autoplay">
                    <source src="{{ url_for('static',filename='audios/'+name+'.mp3') }}" type="audio/mpeg">
                </audio>
            </div>
        </div>
    </nav>




    <script src="{{ url_for('static',filename='js/jquery-3.6.1.js') }}"></script>
    <script>
        var audio = document.getElementById("audio");
        var play = $("#lrc_row1");
        var ms = 0;
        var is_controled = false;
        //将歌词添加到div中
        $(document).ready(function () {
            //加载歌词
            $('#div_1').load("{{ url_for('static',filename='audios/'+name+'.lrc') }}");
            //获取所有歌词
            setTimeout(function () {
                var lrcArr = $("#div_1").text().split('\n');
                // debugger;
                for (var i = 0; i < lrcArr.length; i++) {
                    var p = document.createElement("p");
                    //空白歌词不进行加载
                    if (lrcArr[i].substring(11) != "") {
                        // debugger;
                        var num_l = (lrcArr[i]).match(/\d+/g);
                        p.innerText = lrcArr[i].substring(11);
                        p.dataset.minute = Number(num_l[0]);
                        p.dataset.second = Number(num_l[1]);
                        $("#div_lrc").append(p);
                    }
                }
            }, 200)
        })

        function lrcDisplay() {
            //获取播放进度(转换的格式为: 00:00)
            var minute = parseInt(audio.currentTime / 60);//分钟
            minute = minute == 0 ? "00" : (minute + "").length < 2 ? "0" + minute : minute;
            //获取秒数
            var second = (parseInt(audio.currentTime)) % 60;
            second = second == 0 ? "00" : (second + "").length < 2 ? "0" + second : second;
            //正则表达匹配歌词
            //console.log(minute,second)
            var regex = new RegExp('\\[' + (minute + ":" + second) + '.+\\].+\n');
            var text = regex.exec($("#div_1").text());
            // debugger;
            // console.log(is_controled,((ms > 100 * minute + second)||((100 * minute + second)-ms > 2))&& !is_controled);
            if (((ms > 100 * Number(minute) + Number(second)) || ((100 * Number(minute) + Number(second)) - ms > 2)) && !is_controled) {
                play = $("#lrc_row1");
                $('#div_lrc > *').each(function (index) {
                    // 对每个 div 元素执行操作
                    // console.log('第 ' + index + ' 个 div');
                    $(this).removeClass()
                });
                is_controled = true;
                var cnt = 1;
                // debugger;
                var d_c = 0;
                while (cnt == 1) {
                    cnt = lrcDisplay()
                    // console.log(cnt);
                    // alert(cnt);
                    // debugger;
                    d_c  ++;
                };
                var cnt = 0;
                //歌词滚动(自动)
                
                var now_top = $("#div_lrc").offset().top-(($(play).offset().top)-(($(document).height() / 2)-( $(play).outerHeight(true)/2)))
                $("#div_lrc").css("top", now_top + "px");
                is_controled = false;
                
            } ms = 100 * Number(minute) + Number(second)
            if (text != null) {
                // console.log(text)
                var str1 = new String($(play).next().text());
                var str2 = new String(text[0].substring(11));

                if (str1.trim() == str2.trim()) {
                    //歌词颜色变色
                    $(play).attr("class", "overPlay");
                    play = $(play).next();
                    $(play).attr("class", "play");
                    //歌词滚动(自动)
                    var now_top = $("#div_lrc").offset().top-(($(play).offset().top)-(($(document).height() / 2)-( $(play).outerHeight(true)/2)))
                    $("#div_lrc").css("top", now_top + "px");

                    return 1;
                }
            }
            // if (is_controled) { debugger; }

            if ($(play).text() == "") {
                var min = 0;
                var sec = 0;
            }else{
                // debugger;
                var min = Number(($(play).next())[0].dataset.minute);
                var sec = Number(($(play).next())[0].dataset.second);
            }
            if (is_controled) {//  ms当前时间
                // alert(num_l,minute,second)
                if (min <= Number(minute) && (min < Number(minute)) || (min == Number(minute) && sec <= Number(second))) {
                    // debugger;
                    //歌词颜色变色
                    $(play).attr("class", "overPlay");
                    play = $(play).next();
                    $(play).attr("class", "play");


                    return 1;
                }
            }
            return 0;
        }
        setInterval(lrcDisplay, 200);
        //歌词滚动(手动)
        var time = null;
        function btn_top() {
            var top = parseInt($("#div_lrc").css("top"));
            $("#div_lrc").css("top", -1 * ((-1 * top) + 100) + "px");
        }
        function btn_down() {
            var top = parseInt($("#div_lrc").css("top"));
            if (top <= 0)
                $("#div_lrc").css("top", -1 * ((-1 * top) - 100) + "px");
        }

        //调整歌词位置的函数
        function btn_top() {
            var top = parseInt($("#div_lrc").css("top"));
            $("#div_lrc").css("top", -1 * ((-1 * top) + 30) + "px");
        }
        /*
            1.歌词文件不能是默认编码(记事本文件和lrc文件默认为ANSI编码) 只需要改为 UTF-8或
者GB2312,否则乱码
            2.歌曲因为没有算毫秒差距,可能出现细微误差
            3.因为网页同源策略的原因,外部直接打开html文件只能用firefox访问,
               不能进行跨域访问,如果不使用文件读取可以在任意地方打开.
            4.因为ajax识别原因,会把空格当做分割内容,即歌词文件名不能有空格
            5.因为js对文件操作以及ajax请求存在诸多默认限制,若以类似方法在winfrom asp等中很
多问题都会得到解决.
            6.setTimeout()和setInterval()，在浏览器窗口非激活的状态下会停止工作或者以极慢的
速度工作。目前我已知就IE不会有这种问题。
        */
    </script>
    <script>
        const ChangeCard = () =>{
            var card_height = $("#ShowInfo").outerHeight(true);
            var card_top = ($(document).height() / 2)-(card_height/2);
            $("#ShowInfo").css("top",card_top)
            // $("#div_lrc").css("top", ($(document).height() / 4) + "px");
            ms = 0;
        }
        const debounce = (fn, delay) => {
        let timer;
        return function() {
            if (timer) {
                clearTimeout(timer);
            }
            timer = setTimeout(() => {
                fn();
            }, delay);
        }
        };
        const cancalDebounce = debounce(ChangeCard, 200);

        window.addEventListener('resize', cancalDebounce);
        $(document).ready(ChangeCard());
    </script>
</body>

</html>